body {
  /* background: #ff0000; */
  height: 2000px;
}
main {
  display: flex;
  flex-direction: row;
  /* align-items: last baseline; */
}
nav {
  border: 1px solid black;
  /* background: #ffd700; */
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
}
.nav_logo_frame {
  border: 1px solid black;
  border-radius: 50px;
  width: 90px;
  height: 90px;
  margin-left: 5px;
  align-content: center;
  align-self: center;
}
.nav_bar_frame {
  height: 50px;
  width: 400px;
  padding: 15px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.link {
  text-decoration: none;
}
.link_text {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 25px;
  color: black;
}
.button_frame {
  display: flex;
}
.footer {
}
.marquee {
  align-items: baseline;
}
