body {
  /* background: #ff0000; */
  height: 100;
}
nav {
  border: 1px solid black;
  background: #000000;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.nav_logo_frame {
  border: 1px solid white;
  border-width: 5px;
  border-radius: 50px;
  width: 90px;
  height: 90px;
  margin-left: 5px;
  align-content: center;
  align-self: center;
}
.nav_bar_frame {
  height: 50px;
  width: 400px;
  padding: 15px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.link {
  text-decoration: none;
}
.link_text {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 27px;
  color: white;
}
.button_frame {
  display: flex;
}
.section {
  background-color: red;
  height: 1500px;
}
.marquee {
  align-items: baseline;
}
