section {
  background-image: url("../images/homepage.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 737px;
}
.index_section {
  width: 100%;
  display: flex;
  align-items: center;
}
.section_text_area {
  height: 200px;
  margin-bottom: 38px;
}
.section_text {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.st1 {
  font-size: 155px;
}
.st2 {
  font-size: 75px;
}
