#section_box_main {
  margin: 15px 15px 15px 15px;
  border: 2px solid black;
  height: auto + 5px;
  padding: 20px;
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.section_box {
  background-color: chocolate;
  height: 600px;
  width: 550px;
  margin: 20px;
  padding: 20px;
  overflow: scroll;
}
